Backups/
CachedData/
CachedExtensions/
Cookies
Cookies-journal
Network Persistent State
User/
languagepacks.json
logs/
machineid
rapid_render.json
storage.json
img/Edit « Widget themes « Themes « Live Helper Chat - live support
img/Edit/
img/Edit
img/Edit « Widget themes « Themes « Live Helper Chat - live support.html
img/Edit « Widget themes « Themes « Live Helper Chat - live support_files/
